<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>joe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="right">
    <ion-card-content>
      Message
      <div class="ion-text-end">
        <span> 2:54 pm </span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Message
      <div class="ion-text-end">
        <span> Jane </span>
        <span> 2:54 pm </span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="right">
    <ion-card-content>
      Message
      <div class="ion-text-end">
        <span> 2:54 pm </span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-item class="bottom">
    <ion-input></ion-input>
    <ion-icon name="send" item-right></ion-icon>
  </ion-item>
</ion-content>
